body
{
    font-family: 'Montserrat', sans-serif;
    color: #e4e4e0;
    margin: auto;
    width: 90%;
    font-size: 30px;
    text-align: center;
    background-color: #161619;
}

h1
{
    font-size : 60px;
    margin: auto;
}

.buttons
{
    background-color: #1b1b1f;
    margin: 0.5em auto auto;
    padding: 1em;
    width: 80%;
    height: 100%;
}

.choose-tit
{
    margin: 1em;
}

a
{
    text-decoration: none;
    color: #FFFFFF;
}

.one-button, .two-button, .three-button
{
    margin: auto 1.5em;
    padding: 1.5em;
}

.two-button:hover
{
    background-color: #e4e4e0;
    color: #161619;
}

.stos
{
    margin: 1em;
    float: right;
}

.stos:hover
{
    transform: scale(1.25);
}

.kostki-gracza
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.kostka
{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0.25em;
    border: 5px solid #e4e4e0;
    padding: 5px 0.5em;
}

.kostka:hover
{
    transform: scale(1.25);
}

.koniec
{
    color: white;
    padding: 10px;
    text-align: center;
    float: left;
    font-weight: bold;
}

.koniec:hover
{
    transform: scale(1.25);
}
