body
{
    font-family: 'Montserrat', sans-serif;
    color: #e4e4e0;
    margin: auto;
    font-size: 34px;
    text-align: center;
    background-color: #161619;
}

h1
{
    font-size : 60px;
    margin: auto;
}

.buttons
{
    background-color: #1b1b1f;
    margin: 0.5em auto auto;
    padding: 1em;
    width: 80%;
    height: 100%;
}

.choose-tit
{
    margin: 1em;
}

a
{
    text-decoration: none;
    color: #FFFFFF;
}

.one-button, .two-button, .three-button
{
    margin: auto 1.5em;
    padding: 1.5em;
}

.two-button:hover
{
    background-color: #e4e4e0;
    color: #161619;
}

.stos
{
    float: right;
    text-align: center;
    margin: 3em 2em 7em;
}

.stos:hover
{
    transform: scale(1.25);
    font-weight: bold;
    position: relative;
}

.kostki-gracza
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em auto 1em;
}

.kostka
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0.25em;
    border: 4px solid #e4e4e0;
    padding: 5px 0.5em;
}

.kostka:hover
{
    transform: scale(1.25);
}

.koniec
{
    padding: 10px;
    text-align: center;
    float: left;
    margin: 3em 2em 7em;
}

.koniec:hover
{
    transform: scale(1.25);
    font-weight: bold;
    position: relative;
}

.na-stole
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4em auto;
    width: 100%;
}

.kostki-na-stole
{
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    list-style-type: none;
    margin: 0.25em 0;
    border: 4px solid #e4e4e0;
    padding: 2px 0.5em;
}

.tryb
{
    display: block;
    padding: 10px;
    text-align: center;
    float: left;
    margin: 1em 2em;
}

.tryb:hover
{
    transform: scale(1.25);
    font-weight: bold;
    position: relative;
}

.pole-gracza
{
    text-align: center;
    margin: auto;
}