<!doctype html>
<html lang="pl">
<head>
    <title>Domino</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>


<div class="form"><p class="imiona-form">Imiona graczy</p>
    <form method="POST" action="">
        {{ form_gracze.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form_gracze.gracz_1(class="form-control form-control-lg is-invalid", value="A") }}
            </div>
            <div class="form-group">
                {{ form_gracze.gracz_2(class="form-control form-control-lg is-invalid", value="B") }}
            </div>
            <div class="form-group">
                {{ form_gracze.potwierdz(class="btn btn-outline-info") }}
            </div>
        </fieldset>

    </form>
</div>


</body>
</html>