<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Gra</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>

<a href="{{url_for("koniec")}}"><div class="koniec">Przerwij grę</div></a>

<div class="stos">
    {% if liczba_na_stosie != 0 %}
    <a href="{{ url_for('dobierz_kostke') }}">
        {% endif %}
        <div>
            <p class="stos">STOS</p>
            {% if liczba_kart_na_stosie != 0 %}
            <div class="pobierz-ze-stosu">Pobierz ze stosu</div>
            {% else %}
             <div class="pobierz-ze-stosu">Stos jest pusty</div>
            {% endif %}
        </div>
    </a>
</div>

<div class="na-stole">
    {% for k in na_stole %}
        <li class="kostki-na-stole">{{ k }}</li>
    {% endfor %}
</div>

<div class="kostki-gracza">
    {% for kost in domino_gracza %}
        <li class="kostki-gracza-reka">{{ kost }}</li>
    {% endfor %}
</div>

</body>
</html>