<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Domino</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>

<a href="{{url_for('koniec')}}"><div class="koniec">Przerwij grę</div></a>

<div class="stos">
    {% if ilosc_na_stosie != 0 %}
    <a href="{{ url_for('dobierz_kostke') }}">
        {% endif %}
        <div>
            <p class="stos"></p>
            {% if ilosc_na_stosie != 0 %}
                <div class="pobierz-ze-stosu">Dobierz <br> kostkę</div>
            {% else %}
                <div class="pobierz-ze-stosu">Pusty</div>
            {% endif %}
        </div>
    </a>
</div>

<div class="na-stole">
    {% for k in gra.na_stole %}
        <li class="kostki-na-stole">{{ k }}</li>
    {% endfor %}
</div>

<div class="pole-gracza">
   <div class="kostki-gracza">
    {% for kostka in gra.gracze[gra.turn].domino_gracza %}
        <a href="{{ url_for('wyloz_kostke', kostka=loop.index0) }}"><ul class="kostka">{{ kostka }}</ul></a>
    {% endfor %}
    </div>
    <p class="gracze-napis">
        Kolej gracza: {{ gra.imiona[gra.turn] }}
    </p>
</div>


</body>
</html>