<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Gra</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>

<a href="{{url_for('index')}}"><div class="tryb">Wróć do menu</div></a>

<div class="'wyniki">
{% if koniec_gry %}

    <div class="wygrany">
        <p class="wyniki">Wygrał gracz: {{ wygrany }}</p>
        <p class="punkty">Pozostałe kostki: {{ wygrany_pkt }}</p>
    </div>
    <div class="przegrany">
        <p class="wyniki">Drugi gracz: {{ przegrany }}</p>
        <p class="punkty">Pozostałe kostki: {{ przegrany_pkt }}</p>
    </div>

{% else %}

    <div class="wygrany">
        <p class="wyniki">Wygrał gracz: {{ wygrany }}</p>
        <p class="punkty">Pozostałe kostki: {{ wygrany_pkt }}</p>
    </div>
    <div class="przegrany">
        <p class="wyniki">Drugi gracz: {{ przegrany }}</p>
        <p class="punkty">Pozostałe kostki: {{ przegrany_pkt }}</p>
    </div>

{% endif %}
</div>

</body>
</html>